@model IEnumerable<DoAn2.Model.KHACH_HANG>

@{
    ViewBag.Title = "DanhMucKhachHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Mục Khách Hàng</h2>
<table class="table">
    <tr class="table-warning">
        <th>
            Mã Khách Hàng
        </th>
        <th>
            Tên Khách Hàng
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="table-success">
        <td>
            @Html.DisplayFor(modelItem => item.MA_KH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEN_KH)
        </td>
        <td>
            @Html.ActionLink("Chi Tiết", "ChiTietKhachHang", "HomeAdmin", new { maKh = item.MA_KH}, null) |

        </td>
    </tr>
}

</table>
