@{
    ViewBag.Title = "Thống kê Doanh thu theo Tháng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Thống kê Doanh thu theo Tháng</h2>
<div id="chartContainerThang" style="height: 370px; width: 100%;"></div>
@section scripts {
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        window.onload = function () {
            var dataPoints = @Html.Raw(ViewBag.DoanhThuThang);
            var chart = new CanvasJS.Chart("chartContainerThang", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Doanh thu theo Tháng"
                },
                axisY: {
                    title: "Doanh thu (VND)"
                },
                data: [{
                    type: "column",
                    yValueFormatString: "#,##0.## VND",
                    dataPoints: dataPoints.map(item => ({ label: `${item.Thang}/${item.Nam}`, y: item.TongDoanhThu }))
                }]
            });
            chart.render();
        }
    </script>
}
