
@{
    ViewBag.Title = "Home Page";
}
<main>
    <link href="~/Content/css/TinTuc.css" rel="stylesheet" />
    <article>

        <h1>Tin Tức</h1>

        <section>

            <h2>Lễ kép - Giảm giá kép - Tuần lễ vàng sale sốc nhân dịp Giỗ Tổ Hùng Vương và lễ 30/4 - 1/5:</h2>
            <div class="tintuctrai">
                <a href="#">
                    <img src="~/Content/Data/HinhAnh/Tin Tức/Hình 30-4,1-5.jpg" alt="Hình Sale 30/4-1/5">
                </a>
                <ul>
                    <li>
                        <span style="color: gold">Nội dung:</span> Nhân dịp các ngày lễ đặc biệt được diễn ra liên
                        tiếp với nhau trong tuần. Cơm Nhà Vũ Tuấn xin tặng mọi người những ưu đãi trong chương trình
                        khuyễn mãi Tuần Lễ Vàng. Mong mọi người sẽ đến và có những trải nghiệm đặc biệt trong dịp lễ
                        này với chúng tôi, chúc mọi người có một kì nghỉ lễ tuyệt vời.
                    </li>
                    <li>
                        <span style="color: red;">Thời gian diễn ra:</span> 28/4/2024 - 4/5/2024
                    </li>
                </ul>
            </div>

        </section>

        <section>

            <h2>Tháng tư là lời nói dối của ai, còn Cơm Nhà Vũ Tuấn giảm giá thật:</h2>
            <div class="tintucphai">
                <a href="#">
                    <img src="~/Content/Data/HinhAnh/Tin Tức/Hình sale Cá tháng tư.jpg" alt="Hình Sale Cá Tháng Tư">
                </a>
                <ul>
                    <li>
                        <span style="color: gold">Nội dung:</span> Cá tháng Tư hay ngày nói dối là ngày của những
                        trò lừa, ngày mà mọi người có thể
                        nói dối và các trò chơi khăm nhau mà không bị chỉ trích. Bên cạnh đó, đây cũng là dịp cho
                        một số người bày tỏ những điều thật lòng với nhau như tỏ tình hay nói ra những điều khó nói.
                        Cơm Nhà Vũ Tuấn cũng muốn nói với các bạn là chúng tôi sẽ có chương trình giảm giá các sản phẩm
                        khi bạn đến thưởng thức một mình hoặc đi chung nhóm 4 người.
                    </li>
                    <li>
                        <span style="color: red;">Thời gian diễn ra:</span> 1/4/2024 - 4/4/2024
                    </li>
                </ul>
            </div>

        </section>

        <section>

            <h2>Quốc tế Phụ nữ - Vinh danh những bông hoa của hành tinh xanh:</h2>
            <div class="tintuctrai">
                <a href="#">
                    <img src="~/Content/Data/HinhAnh/Tin Tức/Hình 8-3.jpg" alt="Hình Sale 8/3">
                </a>
                <ul>
                    <li>
                        <span style="color: gold">Nội dung:</span> Quốc tế Phụ nữ là ngày để chúng ta tôn vinh và
                        biết ơn những đóa hoa của thế giới
                        vì đã làm cho cuộc sống có thêm những sắc màu xinh đẹp. Nhân dịp này, chúng tôi cũng dành
                        cho những bông hoa của chúng ta các chương trình ngọt ngào, hãy đến và trải nghiệm những ưu
                        đãi tuyệt vời dành cho các bạn. <a href="#">Xem chi tiết</a>
                    </li>
                    <li>
                        <span style="color: red;">Thời gian diễn ra:</span> 8/3/2024 - 10/3/2024
                    </li>
                </ul>
            </div>

        </section>

        <section>

            <h2>Lễ tình nhân thêm ngọt ngào - Hẹn yêu tại Cơm Nhà Vũ Tuấn:</h2>
            <div class="tintucphai">
                <a href="#">
                    <img src="~/Content/Data/HinhAnh/Tin Tức/Hình Valentine.jpg" alt="Hình Sale Valentine">
                </a>
                <ul>
                    <li>
                        <span style="color: gold">Nội dung:</span> Ngày Valentine còn có tên gọi khác là ngày lễ
                        tình nhân. Đây được xem là ngày đặc
                        biệt để tôn vinh tình yêu đôi lứa và cũng là dịp để các cặp đôi thể hiện tình yêu tới đối
                        phương. Nhân dịp Valentine đỏ và trắng, Cơm Nhà Vũ Tuấn xin tặng các cặp đôi chương trình giảm
                        giá khi đến với chúng tôi, tất nhiên hội độc thân sẽ không cô đơn đâu vì các bạn cũng sẽ
                        nhận được dịch vụ tương tự vào Valentine đen.
                    </li>
                    <li>
                        <span style="color: red;">Thời gian diễn ra:</span> 14/2/2024, 14/3/2024 và 14/4/2024
                    </li>
                </ul>
            </div>

        </section>

        <section>

            <h2>Món đặc biệt nay thêm độc đáo:</h2>
            <div class="tintuctrai">
                <a href="#">
                    <img src="~/Content/Data/HinhAnh/Tin Tức/comboxaonam.jpeg" alt="Hình Cơm Bò Xào Nấm">
                </a>
                <ul>
                    <li>
                        <span style="color: gold">Nội dung:</span> Bạn là một tín đồ của cà phê và đặc biệt là
                        Cơm Bò, vậy thì đây chắc chắn là một điều tuyệt vời dành cho các bạn. Cơm Nhà Vũ Tuấn xin
                        thông báo đến mọi người chương trình khuyến mãi nhân dịp cải tiến và hoàn thiện món Cơm
                        Bò Xào Nấm Kim Châm đặc biệt của chúng tôi. Hãy đến và thưởng thức hương vị đặc biệt pha chút độc lạ mới
                        mẻ này.
                    </li>
                    <li>
                        <span style="color: red;">Thời gian diễn ra:</span> 8/2/2024 - 15/2/2024
                    </li>
                </ul>
            </div>

        </section>

    </article>
</main>


