USE [DoAn2]
GO
/****** Object:  Table [dbo].[CTDH]    Script Date: 6/19/2024 8:08:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDH](
	[MA_SP] [int] NOT NULL,
	[MA_DH] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[TEN_MON] [nvarchar](50) NULL,
 CONSTRAINT [PK_CTDH] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC,
	[MA_DH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANH_THU]    Script Date: 6/19/2024 8:08:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANH_THU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [date] NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[TongDoanhThu] [decimal](18, 2) NULL,
	[Ma_DH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_DAT_HANG]    Script Date: 6/19/2024 8:08:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DAT_HANG](
	[MA_DH] [int] NOT NULL,
	[MA_KH] [int] NOT NULL,
	[MA_NV] [int] NOT NULL,
	[DIACHIGIAOHANG] [nvarchar](100) NULL,
	[NGAY_GIODAT] [datetime] NULL,
	[TRANGTHAI_DH] [nvarchar](50) NULL,
	[PT_THANHTOAN] [nvarchar](50) NULL,
	[ShippingFee] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_DON_DAT_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_DH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOP_Y]    Script Date: 6/19/2024 8:08:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOP_Y](
	[MA_GOPY] [int] NOT NULL,
	[MA_KH] [int] NOT NULL,
	[NOIDUNG] [nvarchar](100) NULL,
 CONSTRAINT [PK_GOP_Y] PRIMARY KEY CLUSTERED 
(
	[MA_GOPY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 6/19/2024 8:08:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [int] NOT NULL,
	[ID_TK] [varchar](10) NOT NULL,
	[TEN_KH] [nvarchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[SDT] [int] NULL,
	[DIACHI] [nvarchar](100) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_MONAN]    Script Date: 6/19/2024 8:08:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_MONAN](
	[MALOAI] [int] NOT NULL,
	[TENLOAI] [varchar](100) NULL,
 CONSTRAINT [PK_LOAI_MONAN] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 6/19/2024 8:08:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MA_NV] [int] NOT NULL,
	[ID_TK] [varchar](10) NOT NULL,
	[TEN_NV] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](500) NULL,
	[NGAYVAOLAM] [datetime] NULL,
	[SDT] [int] NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 6/19/2024 8:08:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MA_SP] [int] NOT NULL,
	[MALOAI] [int] NOT NULL,
	[TEN_SP] [nvarchar](100) NULL,
	[GIAMON] [int] NULL,
	[HINHANH] [varchar](100) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 6/19/2024 8:08:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[ID_TK] [varchar](10) NOT NULL,
	[TEN_TK] [varchar](50) NULL,
	[MK] [varchar](50) NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[ID_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DON_DAT_HANG] ADD  DEFAULT ((0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DON_DAT_HANG] FOREIGN KEY([MA_DH])
REFERENCES [dbo].[DON_DAT_HANG] ([MA_DH])
GO
ALTER TABLE [dbo].[CTDH] CHECK CONSTRAINT [FK_CTDH_DON_DAT_HANG]
GO
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_RELATIONS_DON_DAT_] FOREIGN KEY([MA_DH])
REFERENCES [dbo].[DON_DAT_HANG] ([MA_DH])
GO
ALTER TABLE [dbo].[CTDH] CHECK CONSTRAINT [FK_CTDH_RELATIONS_DON_DAT_]
GO
ALTER TABLE [dbo].[CTDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SANPHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SANPHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[CTDH] CHECK CONSTRAINT [FK_CTDH_SANPHAM]
GO
ALTER TABLE [dbo].[DOANH_THU]  WITH CHECK ADD  CONSTRAINT [FK_DOANH_THU_DON_DAT_HANG] FOREIGN KEY([Ma_DH])
REFERENCES [dbo].[DON_DAT_HANG] ([MA_DH])
GO
ALTER TABLE [dbo].[DOANH_THU] CHECK CONSTRAINT [FK_DOANH_THU_DON_DAT_HANG]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT__RELATIONS_KHACH_HA] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT__RELATIONS_KHACH_HA]
GO
ALTER TABLE [dbo].[DON_DAT_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DON_DAT__RELATIONS_NHAN_VIE] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[DON_DAT_HANG] CHECK CONSTRAINT [FK_DON_DAT__RELATIONS_NHAN_VIE]
GO
ALTER TABLE [dbo].[GOP_Y]  WITH CHECK ADD  CONSTRAINT [FK_GOP_Y_RELATIONS_KHACH_HA] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[GOP_Y] CHECK CONSTRAINT [FK_GOP_Y_RELATIONS_KHACH_HA]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HA_RELATIONS_TAI_KHOA] FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TAI_KHOAN] ([ID_TK])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HA_RELATIONS_TAI_KHOA]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIE_RELATIONS_TAI_KHOA] FOREIGN KEY([ID_TK])
REFERENCES [dbo].[TAI_KHOAN] ([ID_TK])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIE_RELATIONS_TAI_KHOA]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_RELATIONS_LOAI_MON] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI_MONAN] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_RELATIONS_LOAI_MON]
GO
